:root {
  --hdr-gradient: linear-gradient(
    to bottom left in oklab,
    rgb(99 25 24) 0%, rgb(165 13 39) 33%, rgb(212 3 112) 66%, rgb(104 15 52) 98% 98%
  );
  --sdr-gradient: linear-gradient(to bottom left, #631918 0%, #a50d27 33%, #d40370 66%, #680f34 98% 98%);

  background: var(--hdr-gradient);
}

body {
  /*
  font-family: "Baloo Thambi 2", serif;
  font-optical-sizing: auto;
*/
font-family: "Plus Jakarta Sans", serif;
font-size: 18px;
font-weight: 400;
background: var(--hdr-gradient) !important;
}

.ori-digital-studio::after {
  opacity: 0.1 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Plus Jakarta Sans", serif !important;
  font-weight: 400;

}

.ori-slider-section-1 .ori-slider-scroll .scroll-mouse i {
  color: #FFFFC3;
}

.ori-service-why-choose-list-item p, .ori-footer-section .about-pt p {
  text-align: justify !important;
}

.ori-footer-section h2.ori-event-title, .ori-header-section.header-style-one .first-header-menu, .ori-header-section .mobile_menu_button, .ori-slider-section-1 .ori-slider-social li a, .ori-vission-content .ori-event-title, .ori-vission-content .sub-title, .ori-vission-content p, .ori-about-gallery-section .ori-event-title, .ori-about-circle-progress-section .circle p {
    color: #ffffff !important;
}

.ori-header-section.header-style-one.sticky-on .first-header-menu, .ori-header-section.sticky-on .mobile_menu_button {
    color:  #5e0a0c !important;
}

/*
.text-letter-spacing {
  letter-spacing: 4px;
}
*/



/*
.ori-service-why-choose-text .sub-title, .ori-service-why-choose-text .ori-event-title {
    color: #ffffff !important;
}

.ori-vission-content .ori-service-why-choose-text .ori-event-title span {
    -webkit-text-stroke-color: #ffffff !important;
    }
    
    .ori-vission-content .ori-service-why-choose-text p {
        color: #F2F3F5 !important;
        }
        */

.display-none-section {
  display: none !important;
}

.ori-footer-section p {
  color: #f2f3f5 !important;
}


.ori-footer-section .ori-event-title span, .ori-vission-content .ori-event-title span, .ori-about-gallery-section span {
  -webkit-text-stroke-color: #F3D06B !important;
  -webkit-text-fill-color: #F3D06B;
}

.text-white .ori-event-title {
  color: #fff !important;
}

.ori-sponsor-section-1 .ori-sponsor-slider .slick-list {
  display: flex;
  justify-content: center;
}

.ori-footer-copyright.social-icons a {
    color: #f2f3f5 !important;
}


@media screen and (max-width: 600px) {
  .ori-sponsor-section-1 .ori-sponsor-slider .slick-list {
    display: unset;
  }
  /*
  .ori-footer-section .ori-event-title span {
    -webkit-text-stroke-color: #000000 !important;
  }
  .text-white .ori-event-title {
    color: #000000 !important;
  }
  .ori-footer-section p {
    color: #000 !important;
  }
    */
}


